<h1>About</h1>
<p>This is a simple PHP application that demonstrates how to use the <a href="http://www.php.net/manual/en/book.curl.php">cURL</a> extension to retrieve data from a remote server.</p>
<p>You can't do this to me because I'm a PHP developer, but you can do this to your friends and family.</p>
